/***************************
****************************
Base Styles
****************************
***************************/

/* Change all elements to use border-box */
html,body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2vw;
    text-align: center;
    background: rgb(170, 239, 241);
   
    
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/***************************
****************************
Layout Styles
****************************
***************************/
/* Content Container*/
.container{
    display: block;
    padding: 0.2em;
   /* border: 1px solid black;*/
    
}

/* Coloumn*/
[class*="col-"] {
   /* float: left;*/
    padding: 2px;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }

  @media only screen and (min-width: 769px ) {
    /* For desktop: */
    [class*="col-"] {
      width: 90%;
    }
  }

/* Row */
.row::after {
    content: "";
    clear: both;
    display: table;
  }

  /* continue to new line*/

  .clearfix {
   clear: both;  
 }
/*
 .clear-fix:before,
.clear-fix:after {
  flex-basis: 0;
  order: 1;
}
*/

/***************************
****************************
Modules
****************************
***************************/
/*Header Modules*/

header{
  text-align: center;
  padding: 0.5em 0;
}

#header-primary {
    
    
}


/*Game Module*/

/*
.game-container{
 background-color: rgb(247, 248, 248);
 position: relative;
 padding : 2em;
 margin:0 auto; 
 display: inline-block;
}

.select-style{
  position: relative;
  top: -1em;
}
*/

.game-screen{
  /*margin:auto;*/
  background-color: rgb(211, 223, 222); 
  display: inline-block;
}

.game-header{
  color: #090909;
  padding :1rem;
  /*margin:auto;*/
 /* background-color: aquamarine;*/
}

.game-screen .game-header {
  
  display: flex;
  
}

.game-header div{
 display: inline;
 justify-content: space-between;
 
}

.game-screen .game-header > div {
  
  flex-grow: 1;
  
}

.game-restart > img{
  width: 1.5em;
  height: 1.5em;
}

.mines{
 /* float:left;*/
}

.timer{
/*float:right;*/
}

.game-restart{
  
}

span{
  font-weight: bold;
}

.game-board{
background-color: gray;
clear: both;

max-width: 500px;
max-height: 500px;
/*
display: flex;
*/
}

.block {
  background: #eee;
  background-size: contain !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  width: 1rem;
  height: 1rem;
  line-height: 25px;
  float: none;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  margin: .2rem; 

  font-weight: bold;
  cursor: pointer;
/*
  flex-grow: 1;
  flex-shrink: 1;
  */
}


.game-footer{

}

.block.is-revealed,
.block:hover {
   background: #ddd;
}
/*blocks revealed with numbers*/
.block.is-one{
  background-image: url(MineSweeperImages/MineSweeperImages/sq1.gif);
}
.block.is-two{
  background-image: url(MineSweeperImages/MineSweeperImages/sq2.gif);
}
.block.is-three{
  background-image: url(MineSweeperImages/MineSweeperImages/sq3.gif);
}
.block.is-four{
  background-image: url(MineSweeperImages/MineSweeperImages/sq4.gif);
}
.block.is-five{
  background-image: url(MineSweeperImages/MineSweeperImages/sq5.gif);
}
.block.is-six{
  background-image: url(MineSweeperImages/MineSweeperImages/sq6.gif);
}
.block.is-seven{
  background-image: url(MineSweeperImages/MineSweeperImages/sq7.gif);
}
.block.is-eight{
  background-image: url(MineSweeperImages/MineSweeperImages/sq8.gif);
}

.block.is-mine {
   background-image: url(MineSweeperImages/MineSweeperImages/mine.gif);
}

.block.is-mine.is-clicked {
   background-color: #d44646;
}

.block.is-flagged {
   background: url(MineSweeperImages/MineSweeperImages/sqt1.gif);
}

.block.is-empty {
   background: rgba(239, 189, 98, 0.27);
}

.block.is-low {
   color: #58a4de;
}

.block.is-medium {
   color: #52c5a7;
}

.block.is-high {
   color: #d44646;
}

.blast{
  background: url(MineSweeperImages/MineSweeperImages/sqt1.gif);
}

/* MAin module*/
main{
 /* height: 70%;*/
}

/*Footer modules*/
footer{
  margin-top: 20px;
  font-family: magra;
  height: 10%;
}
