/***************************
****************************
Base Styles
****************************
***************************/

/* Change all elements to use border-box */
html,body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2vw;
    text-align: center;
    background: rgb(170, 239, 241);


  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/***************************
****************************
Layout Styles
****************************
***************************/
/* Content Container*/
.container{
    display: block;
    padding: 0.2em;
   /* border: 1px solid black;*/

}


  /* continue to new line*/

  .clearfix {
   clear: both;
 }
/*
 .clear-fix:before,
.clear-fix:after {
  flex-basis: 0;
  order: 1;
}
*/

/***************************
****************************
Modules
****************************
***************************/
/*Header Modules*/

header{
  text-align: center;
  padding: 0.5em 0;
}


/*Game Module*/

.game-screen{
  /*margin:auto;*/
  background-color: rgb(211, 223, 222);
  display: inline-block;
}

.game-header{
  color: #090909;
  padding :1rem;
  /*margin:auto;*/
 /* background-color: aquamarine;*/
}

.game-screen .game-header {

  display: flex;

}

.game-header div{
 display: inline;
 justify-content: space-between;

}

.game-screen .game-header > div {

  flex-grow: 1;

}

.game-restart {
  /*width: 1.5em;*/
  height: 2em;
  background-size: contain !important;
  background-repeat: no-repeat;
}

.default-smile{
  background-image: url(MineSweeperImages/MineSweeperImages/btnsmile.gif);
}

.win-smile{
  background-image: url(MineSweeperImages/MineSweeperImages/btncool.gif);
}

.dead-smile{
  background-image: url(MineSweeperImages/MineSweeperImages/btndead.gif);
}

.care-smile{
  background-image: url(MineSweeperImages/MineSweeperImages/btnscare.gif);
}


.mines{
 /* float:left;*/
}

.timer{
/*float:right;*/
}

span{
  font-weight: bold;
}

.game-board{
background-color: gray;
clear: both;

/*
max-width: 500px;
max-height: 500px;
*/
/*
display: flex;
*/
}

.block {
  background: #eee;
  background-size: contain !important;
  background-position: center center;
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
  line-height: 25px;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  margin: .2rem;

  font-weight: bold;
  cursor: pointer;
/*
  flex-grow: 1;
  flex-shrink: 1;
  */
}


/*blocks revealed with numbers*/
.block.is-one{
  background-image: url(MineSweeperImages/MineSweeperImages/sq1.gif);
}
.block.is-two{
  background-image: url(MineSweeperImages/MineSweeperImages/sq2.gif);
}
.block.is-three{
  background-image: url(MineSweeperImages/MineSweeperImages/sq3.gif);
}
.block.is-four{
  background-image: url(MineSweeperImages/MineSweeperImages/sq4.gif);
}
.block.is-five{
  background-image: url(MineSweeperImages/MineSweeperImages/sq5.gif);
}
.block.is-six{
  background-image: url(MineSweeperImages/MineSweeperImages/sq6.gif);
}
.block.is-seven{
  background-image: url(MineSweeperImages/MineSweeperImages/sq7.gif);
}
.block.is-eight{
  background-image: url(MineSweeperImages/MineSweeperImages/sq8.gif);
}

.block.is-mine {
   background-image: url(MineSweeperImages/MineSweeperImages/mine.gif);
}

.block.is-flagged {
   background: url(MineSweeperImages/MineSweeperImages/sqt1.gif);
}

.block.is-empty {
   background: rgba(239, 189, 98, 0.27);
}

.blast{
  background: url(MineSweeperImages/MineSweeperImages/fxy1.gif);
}



/*Footer modules*/
footer{
  margin-top: 20px;
  font-family: magra;
  height: 10%;
}
